<!--Begin: Rows of thumbnails-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#panel-about" data-toggle="tab">トップ</a></li>
					<li><a href="#panel-foreign" data-toggle="tab">洋画</a></li>
					<li><a href="#panel-japanese" data-toggle="tab">邦画</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-about">
						<div class="container">
							<div class="jumbotron">
								<h1>成立Q作 〜映画選びのお供に〜<h1>
								<h2>最近、旧作扱いになったばかりの作品の一覧が見れる、それだけのサービス。</h2>
								<p class="lead">レンタル料が高くて新作ばかり借りられないけれど、新しめの映画が見たい。<br />
								そんな人のためのサービス。ぜひとも、映画選びのお供にどうぞ。<br /><br />
								なお、店舗によって旧作扱いになる時期は異なりますので、レンタルされる際はご利用者様ご自身でご確認をお願い致します	。</p>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="panel-foreign">
						<%= @foreign %>
					</div>
					<div class="tab-pane" id="panel-japanese">
						<%= @japanese %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End: Rows of thumbnails-->