<!--Begin: Rows of thumbnails-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#panel-about" data-toggle="tab">トップ</a></li>
					<li><a href="#panel-foreign" data-toggle="tab">洋画</a></li>
					<li><a href="#panel-japanese" data-toggle="tab">邦画</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-about">
						<div class="container">
							<div class="jumbotron">
								<p class="lead">当サイトは、DVDレンタル店において最近旧作になったばかりの作品を表示するだけのサイトです。</p>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="panel-foreign">
						<%= @foreign %>
					</div>
					<div class="tab-pane" id="panel-japanese">
						<%= @japanese %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End: Rows of thumbnails-->