<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li><a href="/ranking"><span class="glyphicon glyphicon-stats"></span> ランキング</a></li>
     </ul>
    </div><!--/.nav-tabs-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
     <div class="jumbotron">
      <h1>旧作チェッカー『なりたてQ作』<br>
      <small>〜映画選びのお供に〜</small><h1>
        <h2>旧作になったばかりの作品の一覧が見れる。</h2>
        <p class="lead">レンタル料が高くて新作ばかり借りられないけれど、新しめの映画が見たい。そんな人のためのサービス。ぜひとも、映画選びのお供にどうぞ。</p>
        <p><em>なお、店舗によって旧作となる時期が異なりますので、レンタルされる際は利用者様ご自身で確認をお願い致します 。</em></p>
      </div><!--/.jumbotron-->
    </div>
  </div><!--/.row-->
</div><!--/.container-->