/* Thumbnails
-------------------------------------------------- */
.thumbnail {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 400px;
}
	.thumbnail img {
		display: block;
		margin: auto;
		max-width: 200px;
	}

/* Narrow Jumbotron
-------------------------------------------------- */
.jumbotron {
	margin-top: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #EEEEEE;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Ads 
-------------------------------------------------- */
@media(min-width: 0px) {
	.gAds {
		width: 320px;
		height: 50px;
		margin: 0 auto;
	}

	.adsbygoogle {
		width: 320px;
		height: 50px;
	}
}

@media(min-width: 500px) {
	.gAds {
		width: 468px;
		height: 60px;
		margin: 0 auto;
	}

	.adsbygoogle {
		width: 468px;
		height: 60px;
	}
}

@media(min-width: 800px) {
	.gAds {
		width: 728px;
		height: 90px;
		margin: 0 auto;
	}
	
	.adsbygoogle {
		width: 728px;
		height: 90px;
	}
}