/* Thumbnail styles
-------------------------------------------------- */
#thumbnails {
  padding: 25px 0 25px 0;
}
.thumb {
  position: relative;
  min-height: 1px;
  padding: 5px;
}
.thumbnail {
  background: #FBFBFB;
  -webkit-box-shadow: 0 4px 6px -6px #777;
  -moz-box-shadow: 0 4px 6px -6px #777;
  box-shadow: 0 4px 6px -6px #777;
}
.thumbnail > img {
  width: 100%;
}

/* Narrow Jumbotron styles
-------------------------------------------------- */
.jumbotron {
	margin-top: 30px;
}

/* Sticky Navbar styles
-------------------------------------------------- */
.nav-tabs {
  margin-top: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background-color: #EEEEEE;
}

/* Container style
-------------------------------------------------- */
#wrapper > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Ranking table styles
-------------------------------------------------- */
.rank {
  width: 10%;
}
.ranktitles {
  width: 70%;
}
.rankscore {
  width: 20%;
}

/* Media Query -> Ads and etc
-------------------------------------------------- */
@media(min-width: 0px) {
  .adsbygoogle {
		width: 320px;
		height: 50px;
	}
}
@media(min-width: 500px) {
  .adsbygoogle {
		width: 468px;
		height: 60px;
	}
}
@media(min-width: 800px) {
	.adsbygoogle {
		width: 728px;
		height: 90px;
	}
}